<div class="border-top-header">
  <div class="buyer-bg-img">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 text-center z-index-3">
          <h2 class="text-white header-text mb-3">
            PropertyFlow buyer insight
          </h2>
          <p class="pt-2 font-19 mb-5 buyer-subheader text-white">
            Get the data you need to more accurately price property to get a deal
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-7">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h3 class="text-center mb-4">
          <strong> View where interest is flowing across property</strong>
        </h3>
        <p class="black">
          Take all the guess work out of your property search by knowing the flow of interest across properties with
          PropertyFlow’s Flowinterest™. Flowinterest™ visually identifies each property's interest state (hot, stable or
          cool), along with the primary flow of interest and the ‘hottest’ property for your searched area. Select any
          property in the map area and Flowinterest™ will identify the primary flow of interest for that property. The
          thicker the flow line the higher the amount of interest flowing in the arrow direction.
        </p>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-center my-2 mt-30-media">
        <img src="../../../assets/images/View_where_interest_is_flowing_across_property_img_buyer.png" class="img-fluid"
          alt="">
      </div>
    </div>
  </div>
  <div class="container-fluid gray-bg-400 py-7">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 text-center my-2">
          <!-- <div class="card mb-0">
            <div class="position-relative cursor-pointer border-radius-25">

              <img class="card-img-top border-radius-25" src="./assets/No_image_available.png" alt="Card image cap" />
              <div class="center-div">
                <img src="./assets/images/icons/black_location_24x24.png">
              </div>
              <div class="float-left text-white d-flex title-position statusclass">
                <div class="d-inline-block">
                  <p class="mb-0 line-height-1-2">Not listed</p>
                </div>
              </div>
              <div class="float-right title-position title-icon likeClass">
                <a href="javascript:void(0)"><i class="far text-white far fa-heart font-25"></i></a>
              </div>
              <button class="btn btn-primary card-btn-position1 float-right ">
                Owner view offers
              </button>

            </div>
            <div class="card-body dark-gray card-height pl-0 pr-0 pt-1">
              <div class="d-flex justify-content-between">
                <div class="mb-0 px-2">
                  <h4 class="font-14 mb-0 mt1">
                    Estimate price
                    <strong>$916,320</strong>
                  </h4>

                  <div class="line-height-1 mt1">
                    <span class="font-14 mb-1 black"> ViewerStrength
                      <strong class="text-blue">
                        Average</strong>
                    </span>
                  </div>
                  <div class="line-height-1 mt-1">
                    <span class="pr-2 font-14 mb-1"><i class="fa fa-bed pr-1"
                        title="Bedroom"></i><strong></strong></span>
                    <span class="pr-2 font-14 mb-1"><i class="fas fa-bath pr-1" title="Bathroom"
                        aria-hidden="true"></i><strong></strong></span>
                    <span class="pr-2 font-14 mb-1"><i class="fa fa-car pr-1"
                        title="Parking"></i><strong></strong></span>
                    <span class="font-14 mb-1"><i class="fas fa-expand pr-1" title="Parking"></i><strong>
                        sqm</strong></span>
                  </div>
                </div>
                <div class="mt4">
                  <a href="javascript:void(0)" class="btn btn-sm btn-primary float-right offer-button mr-2">
                    Make offer</a>
                  <div class="clearfix"></div>
                </div>

              </div>
              <p class="mb-0 mt6 font-14 text-wrap px-2 line-height-1-2">
                21 Highbury Bypass,Birkenhead,Auckland
              </p>
            </div>
          </div> -->
          <img src="../../../../assets/images/Know_the_strength_of_interest_in_a_property.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 m-auto my-2 mt-30-media ">
          <h3 class="text-center mb-2 mb-md-4">
            Know the strength of interest in a property
          </h3>
          <p class="pt-2">
            We know it is stressful trying to figure out what price to offer for a property, now with PropertyFlow’s
            ViewerStrength™
            clearly know the strength of interest in a property to better gauge price. ViewerStrength’s™ three
            indicators,
            strong,
            average and weak, indicate interest strength in a property against other property in the area to clearly
            know
            price
            strength in a property. ViewerStrength™ provides price strength guidance to assist you in forming your offer
            price.
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="col-12">
      <div class="col-12 search-footer">
        <hr class="mt-0">
        <ul class="list-inline mb-0 menus text-center mt-25">
          <li class="list-inline-item"><a href="javascript:void(0)">Terms &
              Conditions</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">Privacy
              Policy</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">FAQ</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">Contact</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">PropertyFlow estimates</a></li>
          <li class="list-inline-item"><a href="javascript:void(0)">Agents</a></li>
        </ul>
        <hr class="mb-39 mt-23">
        <div class="text-center pb-1">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">
                <h6 class="d-flex align-items-center mb-0 top4">
                  <img src="../assets/images/icons/yellow-logo-40x40.png" width="30" class="mr3 top1" />
                  <p class="mb-0 mt-2 font-weight-semibold d-none-mob font-19">
                    PropertyFlow™</p>
                </h6>
              </a></li>
            <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/propertyflow"
                class="text-dark">
                Follow us:<i class="fa fa-facebook-f facebook-icon ml7"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="text-dark"
                (click)="onShareOptionClick()">Share us:<i class="fas fa-share-alt share-icon ml7"></i></a></li>
            <li class="list-inline-item">
              Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{currentYear}}
              SoftFlow Limited
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>