.card-img-top {
    height: 172px;
    object-fit: cover;
  }
  .card {
    width: 330px;
    height: auto;
    max-height: 325px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #fff;
  }
  .card-body.dark-gray {
    height: 95px;
  }
  .card-btn-position1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-color: #fff;
    background-color: rgba(119, 119, 119, 0.7411764705882353);
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 10px !important;
}
.title-position {
    position: absolute;
    top: 8px;
    left: 10px;
}
.title-icon {
    right: 10px;
    left: inherit;
    top: 10px;
}
/* .offer-button {
    background: #ffff !important;
    font-size: 12px;
    padding: 2px 10px 2px 10px;
    color: #0075d2;
    border: 1px solid #0075d2;
    border-radius: 10px !important;
}
.offer-button:hover {
    background: #0075d2 !important;
    color: #fff;
    transition: .5s;
} */
.card-bottom-border-black {
    border-bottom: 3px solid #000000;
}
.buyer-subheader {
  color: #959391;
  /* font-weight: 500; */
}
.card-body {
  padding: 10px 10px 6px 10px;
}
.search-footer {
  padding: 60px 10px;
  font-size: 15px;
}
@media (max-width: 1300px) and (min-width: 993px) {
  .card {
    max-height: 269px;
  }
}
@media (max-width: 992px) {
  .card-body.dark-gray {
    height: auto;
  }
}
@media (max-width: 825px) {
  .card {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .px-2-mob {
    padding-right: 10px !important;
  }
  .card {
    width: calc(50% - 10px);
    max-height: inherit;
    margin: 0 auto 30px;
  }
}
@media (max-width: 680px) {
  .card {
    width: 100%;
    float: none;
    margin: 0px auto 10px !important;
  }
  .px-2-mob {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media (max-width: 567px) {
  .card {
    max-height: auto;
  }
}
@media(max-width: 350px) {
  .card {
    max-height: 280px;
  }
  .card-body.dark-gray {
    height: 105px;
  }
}