.loader {
    left: 45%;
    top: 45%;
    transform: translate(-45%, -45%);
    z-index: 100;
}
.edit-icons-position {
    position: absolute;
    right: 0;
    top: 20px;
}
.edit-icons-position .mat-icon {
    font-size: 16px;
}
.mat-column-FirstName, .mat-column-LastName, .mat-column-UserName, .mat-column-PhoneNo {
    min-width: 150px;
    flex: 0 0 150px;
}
.mat-column-actions {
    min-width: 100px;
    flex: 0 0 100px;
}