<div id="ClaimHome">
  <div class="mat-dialog-title">
    <h3 class="mb-0">
      <a href="javascript:void(0)">
        <h6 class="mb-0 pt3 d-flex align-items-center">
          <i class="icon-home2 mr-2"></i> <span class="font-weight-semibold"> PropertyFlow&trade;</span>
        </h6>
      </a>
    </h3>
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div mat-dialog-content class="">
    <h4 class="align-center mb-2">
      <span>Claim and buzz up your property</span>
    </h4>
    <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 font-16">
      Claim your property to create more buzz by adding photos, a description and a price. <br />
      <p class="mb-0 font-16 mt-2">
        By clicking claim you agree that you are the owner of {{ PropertyAddress }} and have read and agree to the
        <a href="javascript:void(0)" (click)="onTermsLinkClick()">terms</a> and
        <a href="javascript:void(0)" (click)="onPrivacyPolicyLinkClick()">privacy policy</a>.
      </p>
    </div>
    <!-- <div class="col-12 mt-2">
      <button class="btn btn-primary float-right" (click)="confirmClaim()">
        Claim
      </button>
      <div class="clearfix"></div>
    </div> -->
  </div>
  <div class="modal-footer p-2">
    <button class="btn btn-primary float-right" (click)="confirmClaim()">
      Claim
    </button>
    <div class="clearfix"></div>
  </div>