.filter-options {
  list-style: none;
}
.filter-options li {
  margin: .825rem 0;
  font-size: 15px;
  line-height: 1;
}
.filter-options li:first-child {
  margin: 0 0 .825rem;
}
.filter-options li:last-child {
  margin: .825rem 0 0;
}
#googleInfoWindow, #googleInfoWindowList {
  margin: 0;
}
.search-bg {
  background: #f5f5f5;
}
.map-width {
  width: calc(100% - 698px);
}
.card-width {
  width: 698px;
}
.sub-header .dropdown .arrow::after, .sub-header .dropdown .arrow::before {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
  top: -8px;
  left: 10px;
  border-width: 0 .5rem .5rem .5rem;
  border-bottom-color: #fff;
}
.sub-header .dropdown-menu {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, .35);
}
.custom-checkbox .custom-control-label::before {
  border-radius: 50%;
  top: 1px;
}
.custom-control-label::after {
  height: 10px;
  width: 10px;
  background-image: none;
  background-color: #fff;
  border-radius: 50%;
  left: 5px;
  top: 6px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #455a64;
}
.custom-checkbox.chk-box .custom-control-label::before {
  border-radius: 0;
}
.red-border.custom-checkbox.chk-box .custom-control-label::before {
  border: 1px solid red;
}
.chk-box .custom-control-label::after {
  height: 25px;
  width: 25px;
  background-color: transparent;
  left: -2px;
  top: -2px !important;
}
.header-ddl .custom-control-label::before {
  top: 1px;
}
.wd-80 {
  width: 80px;
}
.wd-180 {
  width: 180px;
}
.wd-200 {
  width: 200px;
}
.wd-120 {
  width: 120px;
}
.hide{
  display: none !important;
}
.show{
  display: block !important;
}
@media (max-width: 1300px) {
  .w-75 {
    width: 100% !important;
  }
}
@media (max-width: 1200px) and (min-width: 826px) {
  .map-width {
    width: calc(100% - 350px);
  }
  .card-width {
    width: 350px;
  }
}
@media (max-width: 825px) {
  .map-width {
    width: calc(100% - 330px);
  }
  .card-width {
    width: 330px;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto!important;
  }
}

@media (max-width: 767px) {
  .map-width {
    width: 100%;
    float: none;
  }
  .mobile-filters {
    display: flex;
    flex: 1 auto;
  }
  .mobile-filters .filter-btns {
    display: block;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 0 5px;
    border: 1px solid #D1D1D5;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #006AFF;
    background: #fff;
    outline: 0;
  }
  .mobile-filters .listing-type {
    flex: 1 1 97px;
    display: flex;
    overflow: hidden;
    height: 32px;
    margin-right: 5px;
    max-width: 109px;
  }
  #fixheader .d-flex {
    flex-wrap: nowrap;
  }
  #myModal .modal-content {
    height: 100vh;
  }
  #myModal .modal-dialog {
    max-width: 100%;
    margin: 0;
    height: 100vh;
  }
  #myModal .modal-header {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    min-height: 45px;
  }
  #myModal .modal-header .dialog-header-left {
    flex: 1 20%;
  }
  #myModal .modal-header .dialog-title {
    flex: 1 60%;
    color: #aaa;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  #myModal .modal-content {
    border: 1px solid rgb(206, 206, 206);
    border-radius: 0;
  }
  #myModal .list-inline-item {
    margin-right: 0;
    flex: 1;
    margin-left: -1px;
  }
  .sub-header-mobile {
    background: #fff;
    z-index: 1;
    position: fixed;
    top: 0;
    padding: 0.625rem 10px 0;
    box-shadow: 0 0 10px #949494;
  }
  .card-width {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto!important;
  }
  .sub-header .d-flex {
    flex-wrap: wrap;
    width: 100% !important;
  }
  .price-ddl .d-flex {
    flex-wrap: nowrap;
  }
}
@media (max-width: 680px) {
  .card-width {
    width: 100%;
    max-width: 100%;
  }
}