<section class="light-gray-bg">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between py-3">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link font500" href="javascript:void(0)">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font500" href="javascript:void(0)">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font500" href="javascript:void(0)">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font500" href="javascript:void(0)">Help</a>
        </li>
        <!-- <li class="nav-item">
              <a class="nav-link font500 cursor-pointer" (click)="onTermsOptionClick()">Terms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link font500 cursor-pointer" (click)="onPrivacyOptionClick()">Privacy</a>
            </li> -->
        <li class="nav-item">
          <a class="nav-link font500 cursor-pointer">Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font500 cursor-pointer">Privacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font500" href="javascript:void(0)"><span class="border-left"></span></a>
        </li>
        <ul class="nav social-icon">
          <li class="nav-item">
            <a class="nav-link font500" target="_blank" href="https://www.facebook.com/propertyflow"><i
                class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font500" href="javascript:void(0)"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font500" href="javascript:void(0)"><i class="fa fa-youtube-play"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link font500" href="javascript:void(0)"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </ul>
      <div class="">
        <a [routerLink]="['/dashboard']">
          <div class="d-flex justify-content-center">
            <img src="../assets/images/icons/yellow-logo-40x40.png" class="mr3 top1" width="30" />
            <p class="mb-0 mt-0 top6 font-weight-semibold d-none-mob font-19">
              PropertyFlow</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>