<!-- <toaster-container [toasterconfig]="config1"></toaster-container> -->
<body>
  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Content area -->
      <div class="content d-flex justify-content-center align-items-center">

        <!-- Login card -->
        <div class="login-form">
          <div class="card mb-0">
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <i class="icon-home2 mr-2 font-25 link-color mb-2"></i>  
                
              </div>
              <h5 class="mb-0 text-center">Logged Out</h5>
              <div class="text-center mt-3">
                Back to <a href="#" [routerLink]="['/login']" class="ml-auto">Login</a>
              </div>

            </div>
          </div>
        </div>
        <!-- /login card -->

      </div>
      <!-- /content area -->

    </div>
    <!-- /main content -->

  </div>
  <!-- /page content -->
</body>