<div bsModal #ContactDelete="bs-modal" class="modal text-center fade" tabindex="-1" role="dialog" aria-labelledby="ContactDelete"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          <span>Confirm Delete</span>
        </h3>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-md-12 col-sm-12 col-xs-12 padding_zero">
          <div class="col-md-12 col-sm-12 col-xs-12 padding_zero">
            <div class="col-xs-12">
              Are you sure you want to delete?
              <p class="mt-10">Make sure it won't be back.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="confirmDelete()"> Yes</button>
      </div>
    </div>
  </div>
</div>