<div class="border-top-header">
    <div class="agent-bg-img">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 text-center z-index-3">
                    <h2 class="text-white header-text mb-3">
                        PropertyFlow agent insight
                    </h2>
                    <p class="pt-2 font-19 mb-5 buyer-subheader text-white">
                        Be fully informed of the market to become the sort after agent for your area
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-7">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3 class="text-center mb-4">
                    <strong> Get new deals come to you</strong>
                </h3>
                <p class="black">
                    Want new listings but without all the hassle of cold calling and lead generation, with
                    PropertyFlow’s Property Sales Management System (PSMS) offers come to you. PropertyFlow’s artificial
                    intelligence gives buyers the tools to act on a property quicker and sellers the confidence to get
                    their property to market by themselves, bringing about more deals faster. At any step in the process
                    sellers can send you a request through our PSMS to act on their behalf to close their property sale.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center my-2 mt-30-media">
                <img src="../../../assets/images/Agent_page_-_Get_new_deals_come_to_you_edit_image.png" class="" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid gray-bg-400 py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 text-center my-2">
                    <img src="../../../assets/images/Agent_page_-_Know_the_strength_of_interest_in_your_listings_img.png"
                        class="" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto my-2 mt-30-media ">
                    <h3 class="text-center mb-2 mb-md-4">
                        Know the strength of interest in your listings
                    </h3>
                    <p class="pt-2">
                        Now with PropertyFlow’s ViewerStrength™ you can get insight into how your listings are
                        performing against other competitive listings in the area. If a listing’s ViewerStrength™ is
                        weak then it may be time to consider a new marketing campaign to attract fresh interest to drive
                        offers. If a listing’s ViewerStrength™ is average it may be time to tweak your marketing
                        campaign or update your listings details to attract more interest and offers to get the listing
                        sold quickly before its’ performance turns weak.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="col-12">
            <div class="col-12 search-footer">
                <hr class="mt-0">
                <ul class="list-inline mb-0 menus text-center mt-25">
                    <li class="list-inline-item"><a href="javascript:void(0)">Terms &
                            Conditions</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Privacy
                            Policy</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">FAQ</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Contact</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">PropertyFlow estimates</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Agents</a></li>
                </ul>
                <hr class="mb-39 mt-23">
                <div class="text-center pb-1">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">
                                <h6 class="d-flex align-items-center mb-0 top4">
                                    <img src="../assets/images/icons/yellow-logo-40x40.png" width="30"
                                        class="mr3 top1" />
                                    <p class="mb-0 mt-2 font-weight-semibold d-none-mob font-19">
                                        PropertyFlow™</p>
                                </h6>
                            </a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/propertyflow"
                                class="text-dark">
                                Follow us:<i class="fa fa-facebook-f facebook-icon ml7"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-dark"
                                (click)="onShareOptionClick()">Share us:<i
                                    class="fas fa-share-alt share-icon ml7"></i></a></li>
                        <li class="list-inline-item">
                            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{currentYear}}
                            SoftFlow Limited
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>