<div id="privacypolicy">
    <div class="">
        <!-- Modal content-->
        <div class="">
            <div class="mat-dialog-title">
                <h3 class="mb-0">
                    <a href="javascript:void(0)">
                        <h6 class="mb-0 pt3 d-flex align-items-center">
                            <i class="icon-home2 mr-2"></i> <span class="font-weight-semibold"> PropertyFlow&trade;</span>
                          </h6>
                    </a>
                </h3>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mat-dialog-content">
                <h4 class="text-center mb-2">
                    <span>Privacy Policy</span>
                </h4>
                <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 font-16">
                    <p class="font-16">
                        propertyflow.co.nz (“PropertyFlow”) recognises the importance of safeguarding your confidential
                        information. This Privacy Practices Policy ("Privacy Policy") outlines the types of information
                        that is collected by PropertyFlow, the uses for that information, and the ways in which we will
                        protect your personal information you choose to provide us.
                    </p>
                    <p class="font-16">
                        PERSONAL INFORMATION
                    </p>
                    <p class="font-16">
                        Personal information is anything that can be used to identify an individual, not limited to but
                        including; name, address, date of birth, marital status, contact information, and intentions to
                        acquire goods and services.
                    </p>
                    <p class="font-16">
                        COLLECTING PERSONAL INFORMATION
                    </p>
                    <p class="font-16">
                        The only personally identifiable information collected by PropertyFlow and shared with and
                        maintained by PropertyFlow is the information a user voluntarily inputs or uploads to PropertyFlow.
                        PropertyFlow will collect personal information directly from you, when you deal with PropertyFlow online
                        or by email.
                    </p>
                    <p class="font-16">
                        The type of personal information that PropertyFlow collects depends on the type of service you
                        request from PropertyFlow. PropertyFlow usually collects information such as your name, contact number,
                        email address and password related information, and images of the interior and/or exterior of
                        the property you desire to list.
                    </p>

                    <p class="font-16">
                        You may choose to provide us with personal information if, for example, you: register with
                        PropertyFlow, contact us with an enquiry; request us to provide you with information; post
                        information to public areas of PropertyFlow or take advantage of a promotional offer.
                    </p>
                    <p class="font-16">
                        By choosing to provide any personal information to PropertyFlow, you fully understand and clearly
                        consent to the transfer of such personal information to, and the collection and processing of
                        such information in, other countries or territories. Any such transfer and processing by us will
                        be in accordance with this privacy policy.
                    </p>
                    <p class="font-16">
                        USE OF PERSONAL INFORMATION
                    </p>
                    <p class="font-16">
                        This Personal Information will be held and used by PropertyFlow so that we can effectively provide
                        you our service and reply to your queries or request for service. Information about the kinds of
                        properties you view, make an offer on or claim may also be combined with other users’
                        information to generate statistics about buyers, sellers and the property market in general.
                    </p>
                    <p class="font-16">
                        We may use your navigational information by combining it with the navigational information we
                        collect about other users. Please note these results do not identify any individual, instead
                        they give us aggregated results about the usage of the site. By doing this, we are able to
                        improve the look and feel of PropertyFlow, the content and navigation, and improve the services we
                        provide to you.
                    </p>
                    <p class="font-16">
                        Your information may be shared with PropertyFlow’s employees, agents, contractors or business
                        partners, but only in connection with the provision of services and goods you have selected on
                        the Site and are being provided to you by PropertyFlow. Furthermore, we may disclose your personal
                        information if permitted by law or required to do so by law or where we believe such action is
                        necessary in order to protect or defend our interests or the interests of our customers or users
                        of our Site. Except as provided herein or in the event of a merger, consolidation, or sale of
                        all or substantially all of Company’s assets, we will not share any of your personally
                        identifiable information with any third party without your permission.
                    </p>
                    <p class="font-16">
                        Notwithstanding the foregoing, given the nature of the primary service offered by PropertyFlow,
                        certain personally identifiable information submitted to PropertyFlow in connection with a property
                        you desire to make an offer on will of course be available to the propertyowner, and with the
                        property you desire to claim as the propertyowner will of course be available to users that make an
                        offer on and you wish to contact.
                    </p>
                    <p class="font-16">
                        ACCESS TO YOUR PERSONAL INFORMATION
                    </p>
                    <p class="font-16">
                        At your request, where the law requires us to do so, we will confirm what personal information
                        we hold about you, update your information, remove your information and/or correct any
                        inaccuracies in such personal information if you contact us at
                        personalinformation@propertyflow.co.nz. We will make every effort to respond to your request in a
                        timely manner.
                    </p>
                    <p class="font-16">
                        CONTACTING US
                    </p>
                    <p class="font-16">
                        We want to develop a continuing and trusted relationship with you. If at any time you have
                        questions regarding this Privacy Policy or any practices or dealings relating to this site then
                        please don’t hesitate to contact us at support@propertyflow.co.nz.
                    </p>
                    <p class="font-16">
                        SECURITY OF PERSONAL INFORMATION
                    </p>
                    <p class="font-16">
                        PropertyFlow will take reasonable steps to ensure your personal information is stored in a secure
                        environment protected from unauthorised access, modification and disclosure. PropertyFlow uses
                        industry standard safeguards to ensure the security of personal information through physical,
                        electronic and managerial procedures.
                    </p>
                    <p class="font-16">
                        LINKS
                    </p>
                    <p class="font-16">
                        PropertyFlow may include links to other Web sites outside of our control. Please be aware that we
                        have no control over these sites and their privacy policy. Our privacy policy does not apply to
                        these sites. We encourage you to read the privacy policy and terms and conditions of linked
                        sites you enter.
                    </p>
                    <p class="font-16">
                        HOW OFTEN SHOULD YOU CHECK THIS PRIVACY POLICY
                    </p>
                    <p class="font-16 mb-0">
                        We may make changes to this Privacy Policy from time to time, so you may like to check it each
                        time you visit PropertyFlow.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>