#propertyImageGalleryModal .mat-dialog-content {
  padding: 0 1.25rem 14px !important;
}
.similar-counter .mt-5,
.similar-counter .my-5 {
  margin-top: 78px !important;
}
.close {
  position: relative;
  top: -2px;
}
.open-home .pt-4,
.py-4 {
  padding-top: 51px !important;
}
.open-home .pb-4,
.py-4 {
  padding-bottom: 51px !important;
}
.mt-5-2 {
  margin-top: 90px !important;
}
.counter {
  font-size: 26px;
  border: 2px solid #A349A4;
  border-radius: 50%;
  color: #fff;
  height: 74px;
  width: 70px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  background: #A349A4;
}
/* .border-right-modal {
  border-right: 1px solid #ccc;
} */
.border-bottom-modal {
  border-bottom: 1px solid #ccc;
}
.slick-next {
  right: -14px;
}
.slick-dotted.slick-slider {
  width: 93%;
  margin: auto;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  width: 100% !important;
}
/* .black-border {
  border: 2px solid #333;
} */
/* .green-border {
  border: 2px solid green;
} */
.share-btn {
  font-size: 14px;
  padding: 3px 5px;
  line-height: 1.5385;
  background: transparent;
  color: #0075d2;
  font-weight: 500;
}
.share-btn:hover,
.share-btn:focus {
  background: transparent;
  box-shadow: none !important;
}
.offer-button {
  background: #ffff;
  padding: .4375rem .875rem;
  line-height: 1.5385;
  border-radius: .1875rem;
  color: #0075d2;
  border: 1px solid #0075d2;
}
.offer-button:hover {
  background: #0075d2;
  color: #fff;
  transition: 0.5s;
}
.made-offer-button {
  background: #777;
  border: 1px solid #777;
  color: #fff;
  font-size: 13px;
  padding: 3px 5px;
  line-height: 1.5385;
}
.d-table {
  display: table;
  width: 75px;
  margin: auto;
}
.no-image {
  height: 300px;
  text-align: center;
  padding-top: 35%;
  border: 1px solid #ddd;
}
#propertyImageGalleryModal .mat-dialog-content {
  min-height: 75px;
}
/* spinner */
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  height: 74px;
  width: 70px;
}
.search-footer {
  padding: 40px 0px 10px;
}
.nav-property-gallery a {
  text-align: center;
  padding: 15px 15px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.slick-list {
  margin-top: 15px !important;
}
.navbar-light .nav-property-gallery .navbar-nav .active>.nav-link, .navbar-light .nav-property-gallery .navbar-nav .nav-link.active, .navbar-light .nav-property-gallery .navbar-nav .nav-link.show, .navbar-light .nav-property-gallery .navbar-nav .show>.nav-link {
  border-bottom: 2px solid #0075d2;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #2196f3;
  border-bottom: 2px solid #0075d2;
}
.nav-property-gallery a:hover {
  color: #3498db;
  background: transparent;
  transition: 1s;
}
.nav-property-gallery.navbar-expand-lg .navbar-collapse {
  padding: 0;
}
.navbar-expand-lg .navbar-nav {
  justify-content: center;
  width: 100%;
}
.w-65 {
  width: 65% !important;
}
@media (min-width: 993px) {
  .d-none-lg {
    display: none;
  }
}
@media (max-width: 1120px) {
.nav-property-gallery a {
    padding: 15px 7px;
}
.w-65 {
  width: 85% !important;
}
}
@media (max-width: 992px) {
  .nav-property-gallery .navbar-nav {
    position: absolute;
    z-index: 2;
    background: #fff;
}
}
@media (max-width: 767px) {
  .h3,
  h3 {
    font-size: 1rem;
  }
  .w-65 {
    width: 95% !important;
  }
  /* .border-right-modal {
    border-right: none;
  } */
  .similar-counter .mt-5,
  .similar-counter .my-5 {
    margin-top: 5px !important;
  }
  .mt-5-2 {
    margin-top: 44px !important;
    margin-bottom: 50px !important;
  }
}
/* scrollable tab */
.tabs-container{
  overflow: hidden;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 3;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.tabs-container ul { 
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.tabs {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
  transform: translateX(0px);
  transition: transform 300ms ease-in-out;
}
.tab {
  min-width: 100px;
  height: 100%;
  margin: 0 10px;
  padding: 1em 1.2rem;
  flex-shrink: 0;
  text-align: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}
.tab.active {
  color: #2196f3;
  border-bottom-color: #0075d2;;
  transition: all 300ms linear;
}
.change-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  font-size: 30px;
  color: #2196f3;
  background: #fff;
  padding: 10px;
  line-height: 30px;
}
.change-btn.hide {
  cursor: not-allowed;
  pointer-events: none;
  color: #b5b5b5;
}
.change-btn.prev {
  left: 0;
}
.change-btn.next{
  right: 0;
}
/* scrollable tab */