<div class="border-top-header">
    <div class="seller-bg-img">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 text-center z-index-3">
                    <h2 class="text-white header-text mb-3">
                        PropertyFlow seller insight
                    </h2>
                    <p class="pt-2 font-19 mb-md-5 text-white buyer-subheader">
                        know what is going on with your property to take the right informed action to attract the best
                        offers
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-7">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center mt-2 mb-4 mt-30-media">
                <img src="../../../assets/images/View_the_flow_of_interest_in_your_property_-_seller_img.png"
                    class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3 class="text-center mb-4">
                    <strong> View the flow of interest in your property</strong>
                </h3>
                <p class="black">
                    The hardest part in selling your home is not knowing the flow of interest in your property against
                    other properties, PropertyFlow’s Flowinterest™ solves this by providing a full picture of the flow
                    of interest in your property against other properties in the area. If interest is outflowing from
                    your property, consider tweaking your marketing strategy to increase interest to get offers. If
                    interest is hot in your property, interest is increasing in it which in turn may drive higher
                    offers.
                </p>
            </div>

        </div>
    </div>
    <div class="container-fluid gray-bg-400 py-7">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 m-auto my-2 mt-30-media ">
                    <h3 class="text-center mb-2 mb-md-4">
                        Know the strength of interest in your property
                    </h3>
                    <p class="pt-2">
                        If you have not been getting offers on your property, now with PropertyFlow’s ViewerStrength™
                        you can see the strength of interest in your property that in turn drives offers.
                        ViewerStrength™ indicates the strength of interest in your property by three indicators, strong,
                        average and weak. If your property's ViewerStrength™ is average, you are potentially not getting
                        enough interest compared to other properties in the area, consider minor adjustments to your
                        marketing campaign to increase interest. If your property’s ViewerStrength™ is weak, it may be
                        time to start a fresh marketing campaign.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 my-2 mt-30-media text-center">
                    <!-- <div class="card mb-0 m-auto border-radius-25">
                        <div class="position-relative cursor-pointer">

                            <img class="card-img-top border-radius-25" src="./assets/No_image_available.png"
                                alt="Card image cap" />
                            <div class="center-div">
                                <img src="./assets/images/icons/black_location_24x24.png">
                            </div>
                            <div class="float-left text-white d-flex title-position statusclass">
                                <div class="d-inline-block">
                                    <p class="mb-0 line-height-1-2">Not listed</p>
                                </div>
                            </div>
                            <div class="float-right title-position title-icon likeClass">
                                <a href="javascript:void(0)"><i class="far text-white far fa-heart font-25"></i></a>
                            </div>
                            <button class="btn btn-primary card-btn-position1 float-right ">
                                Owner view offers
                            </button>

                        </div>
                        <div class="card-body dark-gray card-height pl-0 pr-0 pt-1">
                            <div class="d-flex justify-content-between">
                                <div class="mb-0 px-2">
                                    <h4 class="font-14 mb-0 mt1">
                                        Estimate price
                                        <strong>$916,320</strong>
                                    </h4>

                                    <div class="line-height-1 mt1">
                                        <span class="font-14 mb-1 black"> ViewerStrength
                                            <strong class="text-blue">
                                                Average</strong>
                                        </span>
                                    </div>
                                    <div class="line-height-1 mt-1">
                                        <span class="pr-2 font-14 mb-1"><i class="fa fa-bed pr-1"
                                                title="Bedroom"></i><strong></strong></span>
                                        <span class="pr-2 font-14 mb-1"><i class="fas fa-bath pr-1" title="Bathroom"
                                                aria-hidden="true"></i><strong></strong></span>
                                        <span class="pr-2 font-14 mb-1"><i class="fa fa-car pr-1"
                                                title="Parking"></i><strong></strong></span>
                                        <span class="font-14 mb-1"><i class="fas fa-expand pr-1"
                                                title="Parking"></i><strong>
                                                sqm</strong></span>
                                    </div>
                                </div>
                                <div class="mt4">
                                    <a href="javascript:void(0)"
                                        class="btn btn-sm btn-primary float-right offer-button mr-2">
                                        Make offer</a>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <p class="mb-0 mt6 font-14 text-wrap px-2 line-height-1-2">
                                21 Highbury Bypass,Birkenhead,Auckland
                            </p>
                        </div>
                    </div> -->
                    <img src="../../../assets/images/Know_the_strength_of_interest_in_your_property_-_image.png"
                        class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="col-12">
            <div class="col-12 search-footer">
                <hr class="mt-0">
                <ul class="list-inline mb-0 menus text-center mt-25">
                    <!-- <li class="list-inline-item"><a href="javascript:void(0)" (click)="onTermsOptionClick()">Terms &
                            Conditions</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)" (click)="onPrivacyOptionClick()">Privacy
                            Policy</a></li> -->
                    <li class="list-inline-item"><a href="javascript:void(0)">Terms &
                            Conditions</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Privacy
                            Policy</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">FAQ</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Contact</a></li>
                    <!-- <li class="list-inline-item"><a href="javascript:void(0)"
                            (click)="onHomebuzzEstimatesOptionClick()">PropertyFlow estimates</a></li> -->
                    <li class="list-inline-item"><a href="javascript:void(0)">PropertyFlow estimates</a></li>
                    <li class="list-inline-item"><a href="javascript:void(0)">Agents</a></li>
                </ul>
                <hr class="mb-39 mt-23">
                <div class="text-center pb-1">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">
                                <!-- <h6 class="mb-0 d-flex align-items-center top2"><i class="icon-home2 "></i><span
                                        class="font-weight-semibold d-none-mob ml8">PropertyFlow™</span></h6> -->
                                <h6 class="d-flex align-items-center mb-0 top4">
                                    <img src="../assets/images/icons/yellow-logo-40x40.png" width="30"
                                        class="mr3 top1" />
                                    <!-- <i class="icon-home2 mr-2"></i> -->
                                    <p class="mb-0 mt-2 font-weight-semibold d-none-mob font-19">
                                        PropertyFlow™</p>
                                </h6>
                            </a></li>
                        <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/propertyflow"
                                class="text-dark">
                                Follow us:<i class="fa fa-facebook-f facebook-icon ml7"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-dark"
                                (click)="onShareOptionClick()">Share us:<i
                                    class="fas fa-share-alt share-icon ml7"></i></a></li>
                        <li class="list-inline-item">
                            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{currentYear}}
                            SoftFlow Limited
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>