<div id="homebuzzEstimates">
    <div class="">
        <!-- Modal content-->
        <div class="">
            <div class="mat-dialog-title">
                <h3 class="mb-0">
                    <a href="javascript:void(0)">
                        <h6 class="mb-0 pt3 d-flex align-items-center">
                            <i class="icon-home2 mr-2"></i> <span class="font-weight-semibold"> PropertyFlow&trade;</span>
                          </h6>
                    </a>
                </h3>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mat-dialog-content">
                <h4 class="text-center">PropertyFlow estimates
                </h4>
                <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 font-16">
                    <p class="font-16">
                        The PropertyFlow estimates are not certified or registered valuations or appraisals and do not
                        involve a physical inspection of the property. If you want a current appraisal for a property we
                        recommend you get in touch with your local real estate agent, registered valuer or property
                        advisor.
                    </p>
                    <p class="font-16">
                        The PropertyFlow estimates are an estimated value of what we think a property is likely to sell for. The
                        estimates are calculated from various data sourced from local council valuations as well as
                        published price movement data. The PropertyFlow estimates do not factor in any recent renovations
                        done to the property, nor account for economic changes, relevant regulations or environmental
                        factors that may affect the property value.
                    </p>
                    <p class="font-16">
                        The PropertyFlow estimates should only be used as a part of your property research and from which to
                        form your own property estimate value. We in no way recommend using the PropertyFlow estimates as a
                        basis for a formal offer on a property. You should conduct all due diligence when considering to buy
                        or sell a property.
                    </p>
                    <p class="font-16">
                        The PropertyFlow estimates are computer-generated estimates of what we think a property is likely
                        to sell for.
                    </p>
                    <p class="font-16">
                        How are they calculated?
                    </p>
                    <p class="font-16"></p>
                    <div class="d-flex justify-content-center">
                        <div class="">
                            <img src="./assets/images/Ratings_valuation.png" class="mb-1 d-block ml-auto mr-auto" height="" alt="">
                            <p class="font600 my-0">Council valuation</p>
                        </div>
                        <div class="mt-4 position-relative ml-3 mr-3">
                            <i class="fa fa-plus mr-2"></i>
                        </div>
                        <div class="mt-2">
                            <img src="./assets/images/Property_price_chart.png" class="mb-1 d-block ml-auto mr-auto" height="" alt="">
                            <p class="font600 my-0">Area price movement</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>