<div id="termHomeModal">
      <div class="mat-dialog-title">
        <h3 class="mb-0">
          <a href="javascript:void(0)">
            <div class="d-flex justify-content-center">
              <img src="../assets/images/icons/yellow-logo-40x40.png" width="30" class="mr3 top1" />
              <p class="mb-0 mt-0 top6 font-weight-semibold d-none-mob font-19">
                PropertyFlow</p>
            </div>
      </a>
        </h3>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="mat-dialog-content">
        <h4 class="text-center mb-2">
          <span>PropertyFlow Terms and Conditions of Use</span>
        </h4>
        <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 font-16">

          <!-- <p class="font-16">PropertyFlow USER TERMS AND CONDITIONS OF USE</p> -->
          <p class="font-16">This Site is an online marketplace for buyers and sellers of real estate and real estate
            agents to view
            activity on each property available on the Site and for buyers of real estate to place no obligation offers
            on properties, sellers of real estate to view offers and contact buyers and agents to market themselves to
            sellers.</p>
          <p class="font-16">The Site is not involved in the actual transaction between buyers and sellers to buy or
            sell property. The
            Site solely provides a medium for presenting activity on properties, buyer’s offers to sellers and
            information about properties displayed on the Site. As a result, we have no control over and, to the extent
            permitted by law, make no warranties in relation to, the suitability, quality, safety or legality of any
            properties displayed on the Site, the accuracy or truth of any properties on the Site or the ability of
            buyers and sellers to actually enforce or complete a transaction.</p>
          <p class="font-16">LAW AND JURISDICTION</p>
          <p class="font-16">These terms and conditions are governed and construed in accordance with New Zealand law
            and you accept the
            exclusive jurisdiction on the New Zealand courts. You accept that we may change these terms and conditions
            at any time and that any revised terms and conditions displayed on our website will apply to your use of our
            website, its content and any service supplied by us. Your continued use of the website indicates your
            acceptance of the changes.</p>
          <p class="font-16">LIMITATION OF LIABILITY</p>
          <p class="font-16">IN NO EVENT SHALL PROPERTYFLOW (AND ALL OF OUR SISTER, PARENT AND SUBSIDAIRY COMPANIES), OR THE
            OFFICERS,
            DIRECTORS, EMPLOYEES, SHAREHOLDERS, OR AGENTS OF EACH OF THEM, OR ANY OTHER PARTY INVOLVED IN CREATING,
            PRODUCING, MAINTAINING OR DELIVERING THIS SITE, BE LIABLE FOR ANY LOSS, DAMAGES, HARM OR INJURY OF ANY KIND
            (INCLUDING WITHOUT LIMITATION ANY DIRECT, SPECIAL, INCIDENTAL, INDIRECT, EXEMPLARY, PUNITIVE OR CONSEQUENTAL
            LOSS OR DAMAGES, LOST PROFITS, AND DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) SUFFERED BY
            YOU AS A RESULT OF ANY VISIT TO OR USE OF THIS SITE OR OF ANY MATERIALS PROVIDED ON IT OR DOWNLOADED FROM
            IT, OR YOUR INABILITY TO USE THIS SITE, OR ANY ERROR IN THE PROVISION OF THIS SITE, OR ANY COMPUTER VIRUS
            TRANSMITTED THROUGH THIS SITE WHETHER SUCH LOSS OR DAMAGE ARISES FROM OUR NEGLIGENCE OR OTHERWISE AND EVEN
            IF WE ARE EXPRESSLY INFORMED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES.</p>
          <p class="font-16">INDEMNIFICATION</p>
          <p class="font-16">You agree to defend, indemnify, and hold harmless PropertyFlow and its affiliates from and
            against any claim or
            demand made by any third party, and all associated liabilities, damages, costs and expenses (including but
            not limited to reasonable attorney’s fees) arising out of or relating to your browsing or use of this Site,
            content you transmit to this Site, your violation of any rights of another, or your breach of the Terms and
            Conditions.</p>
          <p class="font-16">RESTRICTIONS ON USE</p>
          <p class="font-16">This Site and the information and facilities/services contained on this website must not be
            used in any
            unlawful way, or for any illegal purpose, or in any manner that infringes the rights of the Site. The Site
            reserves the right to permanently ban and/or notify the appropriate authorities of any person that uses, or
            attempts to use, the Site for illegal purposes, or who posts, or attempts to post, abusive, obscene, vulgar,
            offensive, defamatory, hateful, threatening or sexually-oriented material.</p>
          <p class="font-16">In addition, you must not:</p>
          <p class="font-16">i) Use any automated device, software, process or means to access, retrieve, scrape, or
            index our Site or
            any content on our Site;</p>
          <p class="font-16">ii) tamper with, hinder the operation of, or make unauthorised modifications to the site or
            any content on
            the site;</p>
          <p class="font-16">iii) use any content on, or index our Site for purposes of constructing or populating a
            searchable database
            of properties or competing with us in any manner;</p>
          <p class="font-16">iv) create links from the Site to any other Site on the Internet, or frame or mirror the
            site without our
            prior written consent;</p>
          <p class="font-16">v) violate the rights of any person, including copyright, trade secret, privacy right, or
            any other
            intellectual property or proprietary right;</p>
          <p class="font-16">vi) undertake any action that will impose a burden or make excessive traffic demands on our
            infrastructure
            that we deem, in our sole discretion to be unreasonable or disproportionate Site usage;</p>
          <p class="font-16">vii) transmit spam, chain letters, contests, junk email, surveys, or other mass messaging,
            whether
            commercial in nature or not;</p>
          <p class="font-16">viii) use our Site or any content from our Site in any manner which is, in our sole
            discretion, not
            reasonable and/or not for the purpose which it is made available;</p>
          <p class="font-16">ix) knowingly transmit any virus, worm or other disabling feature to or via the site;</p>
          <p class="font-16">x) use the site to send commercial, unsolicited or bulk electronic messages to anyone</p>
          <p class="font-16">xi) use the site or any facilities available on the site for any activities, or transmit to
            or via the site
            any information or material (including ads), which are inappropriate, offensive, obscene, threatening,
            indecent, inflammatory, pornographic, defamatory or confidential;</p>
          <p class="font-16">xii) pose as any person or entity or attempt to solicit money or passwords from any person;
          </p>
          <p class="font-16">xiii) act in violation of any Term of Use or other condition posed by us or any applicable
            law;</p>
          <p class="font-16">xiv) reproduce, republish, retransmit, modify, adapt, distribute, translate, create
            derivative works or
            adaptations of, publicly display, sell, trade, or in any way exploit our Site or any content on our Site,
            except as expressly authorised by us; or</p>
          <p class="font-16">xv) attempt to do, or permit another person to do, any of the above acts.</p>
          <p class="font-16">We reserve the right to exercise whatever means we deem necessary to prevent unauthorised
            access to or use
            of our Site, including, but not limited to, instituting technological barriers, or reporting your conduct to
            any person or entity.</p>
          <p class="font-16">MINIMUM AGE AND LEGAL RIGHTS TO OFFER, CLAIM, SELL OR CONTACT</p>
          <p class="font-16">You must be at least 18 years of age to offer, claim or contact users with the Site or
            purchase a property
            via the Site. If you are a seller you must be legally able to sell the property you are listing for sale.
          </p>
          <p class="font-16">VERIFICATION</p>
          <p class="font-16">We reserve the right (but are not required) to verify the information contained on the Site
            (including buyer
            and ownership information). You agree that we may access your records and systems and/or contact you for the
            purposes of verification or authentication. You agree to provide such additional information as we
            reasonably require.</p>
            <p class="font-16">ACCESS TO PROPERTYFLOW SITE OUTSIDE NEW ZEALAND</p>
          <p class="font-16">We do not represent or warrant that the content on the Site complies with the laws of any
            country outside of
            New Zealand. If you access the website from outside New Zealand, you do so at your own risk.</p>
          <p class="font-16">THIRD PARTY CONTENT</p>
          <p class="font-16">The Site may present advertisements for or links to third party websites, products, and/or
            services (“Third
            Party Ads”). We are not responsible for the availability of these Third Party Ads, or the images, messages,
            or other materials contained therein. Neither PropertyFlow nor any of its affiliates will be liable for any
            errors in content or omissions in any Third Party Ads, nor responsible for any losses or damages of any sort
            incurred as a result of your participation with, use of, or reliance on the Third Party Ads, including any
            goods, products, or services offered by such Third Party Ads.</p>
          <p class="font-16">INTELLECTUAL PROPERTY</p>
          <p class="font-16">The content of this Site, including but not limited to trademarks, patents, designs,
            layouts, logos, text,
            images, audio and visual materials is the property of PropertyFlow unless otherwise noted. You may not remove,
            display, reproduce, distribute, modify, transmit or otherwise any of PropertyFlow’s intellectual property
            displayed on the Site without the written permission of PropertyFlow. Nothing contained on this Site should be
            construed as granting, by implication, estoppel, or otherwise, any license or right to use any of PropertyFlow’s
            Intellectual Property. All rights, title and interest in and to all aspects of PropertyFlow’s Intellectual
            Property remain the exclusive property of PropertyFlow. In particular, you must not reproduce or use any of the
            buyer or seller information or activity or comparison data or any other information or data on the PropertyFlow
            site for commercial purposes or for commercial gain.</p>
          <p class="font-16">PRICE AND PAYMENT</p>
          <p class="font-16">i) Prices are quoted in NZ dollars. All transactions are processed in NZ dollars.</p>
          <p class="font-16">ii) Payment is required before Product is provided.</p>
          <p class="font-16">iii) Payment may be made by credit card, debit card or any other such method as PropertyFlow
            may introduce at
            its absolute discretion.</p>
          <p class="font-16">iv) PropertyFlow reserves the absolute right to accept or refuse any payment made in any form.
          </p>
          <p class="font-16">v) We aim to debit money from your account within three working days after receiving your
            Order.</p>
          <p class="font-16">vi) You will not be charged for any Orders that cannot be fulfilled and where appropriate
            PropertyFlow will
            refund to your account any sum deducted by PropertyFlow.</p>
          <p class="font-16">vii) PropertyFlow cannot guarantee that a particular Product will always be available.</p>
          <p class="font-16">viii) To maximise security PropertyFlow does not hold any credit/debit card details. They are
            held by third
            party payment providers.</p>
          <p class="font-16">ix) Your credit card company may also do security checks to confirm it is you making the
            Order.</p>
          <p class="font-16">x) Your statutory rights are unaffected by these Terms.</p>
          <p class="font-16">REFUND POLICY</p>
          <p class="font-16">We do not give refunds for change of mind circumstance or if you make a wrong decision.</p>
          <p class="font-16">SEVERABILITY</p>
          <p class="font-16">If any of these Terms and Conditions of Use are invalid, unenforceable or illegal, that
            term will be struck
            out and the remaining terms will remain in force.</p>
          <p class="font-16">CHANGE TO THESE TERMS</p>
          <p class="font-16">From time to time, we may need to change these Terms and Conditions of Use to reflect our
            changing business.
            We may also need to change these Terms and Conditions of Use if we are required by law, for security reasons
            or for technical or infrastructure reasons.</p>
          <p class="font-16">We may change the Terms and Conditions of Use at any time by posting the changed Terms and
            Conditions of Use
            on the PropertyFlow site. If you are a buyer, these changes will not apply to offers that you have already
            placed on the site. If you are a seller, these changes will not apply to properties that you have already
            claimed on the site.</p>
            <p class="font-16">CORRESPONDENCE FROM PROPERTYFLOW</p>
          <p class="font-16">If you register as a member of the Site, you will consent to receive correspondence from
            us. This may
            include email alerts. If you have claimed a property on the site, our correspondence to you may also include
            information regarding the status of your property, confirmation of the receipt and publication of your
            property, confirmation of any changes made by you, notification of possible changes to the status of your
            property, notification of offers and notification of replies from buyers that you contact. You will also be
            notified of any changes to the Site that may have a direct effect on the content or appearance of your
            property. If you have placed an offer on the Site, our correspondence to you may also include information
            regarding the status of your offer, confirmation of the receipt of your offer, confirmation of any changes
            made by you, notification of possible changes to the status of your offer, notification of offers placed on
            the same property by other users of the Site and information from a seller on a property you have placed an
            offer on. This correspondence forms part of the member service and is necessary for the management of your
            account. If you do not wish to receive this correspondence please do not register as a member of the site.
          </p>
          <p class="font-16">AGENCY</p>
          <p class="font-16">We and you are independent contractors and no agency, partnership, joint venture or
            employment relationship
            is intended or created by these Terms and Conditions of Use.</p>
          <p class="font-16">THIS AGREEMENT CONSTITUTES THE WHOLE AGREEMENT</p>
          <p class="font-16">This document, the online application and any warranties implied by law which are not
            capable of being
            excluded or modified embody the whole agreement between the parties. All previous negotiations,
            representations, warranties, arrangements and statements (if any) whether expressed or implied, including
            any collateral agreement or warranty, with reference to the subject matter or the intentions of either of
            the parties are merged and otherwise are excluded and cancelled.</p>
          <p class="font-16">CLAIMING OF PROPERTY</p>
          <p class="font-16">The claiming of a property on the Site is subject to the Terms and Conditions of Use.</p>
          <p class="font-16">SELLER CLAIMING OF PROPERTY</p>
          <p class="font-16">If you are a seller, in order to claim a property as the owner on the Site you must:</p>
          <p class="font-16">Register and become an authenticated user with PropertyFlow.</p>
          <p class="font-16">We also reserve the right to select, edit, condense, determine the duration of, withdraw or
            refuse a
            property ownership claim.</p>
          <p class="font-16">Content of Property</p>
          <p class="font-16">Property content includes text, graphics, pictures and other content relevant to the
            property. We reserve
            the right to modify or refuse any content which appears reasonably unsuitable to us.</p>
          <p class="font-16">We make no guarantees or representations regarding the display of property content.</p>
          <p class="font-16">Upon claiming of the property</p>
          <p class="font-16">By clicking Claim to claim a property certifies that you are the legal owner or assigned
            acting
            agent/representative granted rights to act on the owner’s behalf for the property. As the Owner of the
            property you will have ownership for 28 days to view private offers placed and contact buyers directly. You
            can renew your property ownership at any time, to reset your property ownership back to 28 days go to your
            account and under My Properties click Renew Claim on the property you wish to reset. You may cancel your property
            ownership claim at any time, to unclaim your ownership of a property go to your account and under My Properties
            click Unclaim on the property you wish to cancel your property ownership on.</p>
          <p class="font-16">Upon selling of the property</p>
          <p class="font-16">In the event you sell your property you can unclaim your claim of ownership immediately in
            your Account
            Management. If you forget to unclaim your claim of ownership, after 28 days it will automatically expire and
            the property will become available for the new property owner to claim.</p>
          <p class="font-16">PropertyFlow does not warrant or guarantee that you will receive a response to your property
            from potential
            buyers or that you will receive any offers on your property. PropertyFlow is not responsible for any
            misrepresentations made by a potential buyer when making an offer on a property. PropertyFlow is not liable for
            any loss caused to you as a result of entering into a contract of sale with a buyer who was sourced from the
            PropertyFlow site.</p>
          <p class="font-16">PropertyFlow is not a real estate agency or real estate agent and does not act in any way on
            the seller's behalf
            nor provide advice, in such case you require property advice you should contact a registered real estate
            agent. PropertyFlow does not provide legal advice, in such case you require legal advice for the selling of a
            property you own you should consult with an attorney.</p>
          <p class="font-16">PLACING OF OFFERS</p>
          <p class="font-16">If you are a private buyer, in order to place an offer on the Site you must:</p>
          <p class="font-16">Register and become an authenticated user with PropertyFlow.</p>
          <p class="font-16">Content of Offer</p>
          <p class="font-16">By requesting that an offer be placed on the Site, you agree you are over 18 years of age
            and are granting
            permission to PropertyFlow and the property claimant to retain, use and copy your communications. PropertyFlow will
            take all measures to keep your offer private and confidential and will only release your offer to the
            property claimant of the property that you make an offer on.</p>
          <p class="font-16">You must state a buying price of the property as an offer in the appropriate section made
            available for this
            purpose by clicking on the Make offer button on the property you wish to make an offer on.</p>
          <p class="font-16">You agree that we have an unfettered right to use (in any way we see fit) any copyright
            subsisting in your
            offer.</p>
          <p class="font-16">Subject to these Terms and Conditions of Use, we will use our reasonable endeavours to
            display offers in the
            format submitted by you and in accordance with your placement instructions. However, we make no guarantees
            or representations regarding the display of your offer. We also reserve the right to select, determine the
            duration of, withdraw or refuse an offer.</p>
          <p class="font-16">Your offer will be retained in PropertyFlow’s database.</p>
          <p class="font-16">You may remove your offer at any time, to remove your offer go to your account and under My
            Offers click
            Remove on the property you wish to remove your offer on.</p>
          <p class="font-16">Upon buying of the property</p>
          <p class="font-16">PropertyFlow does not warrant or guarantee that you will receive a response from propertyowners on
            properties you
            have placed an offer on. PropertyFlow is not responsible for any misrepresentations made by a potential seller
            that has claimed their property on PropertyFlow. PropertyFlow is not liable for any loss caused to you as a result
            of entering into a contract of sale with a seller who was sourced from the PropertyFlow site.</p>
          <p class="font-16">PropertyFlow is not a real estate agency or real estate agent and does not act in any way on
            the buyer's behalf
            nor provide advice, in such case you require property advice you should contact a registered real estate
            agent. PropertyFlow does not provide legal advice, in such case you require legal advice for the buying of a
            property you should consult with an attorney.</p>
          <p class="font-16">TERMINATION</p>
          <p class="font-16 mb-0">PropertyFlow may modify or discontinue the Site with or without notice to you and without
            liability to you or
            any third party.</p>

        </div>
      </div>
</div>