<div id="header">
    <nav class="navbar navbar-default top-navbar d-flex justify-content-between" role="navigation">
        <div></div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a href="javascript:void(0)" aria-expanded="false">
                    <i id="UserProfile" class="fa fa-user mr-2"></i>
                    <span class="black_color font-16 display_none_media">Admin</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" aria-expanded="false" (click)="logOut()">
                    <i class="fa fa-sign-out fa-fw mr-2"></i>
                    <span class="black_color font-16 display_none_media">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</div>