<div id="SignInModal">
  <div class="mat-dialog-title">
    <h3 class="mb-0">
      <a href="javascript:void(0)">
        <div class="d-flex justify-content-center">
          <img src="../assets/images/icons/yellow-logo-40x40.png" width="30" class="mr3 top1" />
          <p class="mb-0 mt-0 top6 font-weight-semibold d-none-mob font-19">
            PropertyFlow</p>
        </div>
  </a>
    </h3>
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div mat-dialog-content class=""> 
    <h5>You need to <a href="javascript:void(0)" class="mr-10 text-decoration" (click)="gotologin()" > sign in</a> first!</h5>
  </div>
</div>