<div id="shareProperty">
    <div class="">
        <!-- Modal content-->
        <div class="">
            <div class="mat-dialog-title">
                <h3 class="mb-0">
                    <a href="javascript:void(0)">
                        <div class="d-flex justify-content-center">
                          <img src="../assets/images/icons/yellow-logo-40x40.png" width="30" class="mr3 top1" />
                          <p class="mb-0 mt-0 top6 font-weight-semibold d-none-mob font-19">
                            PropertyFlow</p>
                        </div>
                  </a>
                </h3>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="mat-dialog-content">
                <h4 class="mb-2 text-center">Share this listing</h4>
                <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0 font-16">
                   <div>
                       <i class="fa fa-facebook share-icons mr-2"></i> <a href="javascript:void(0)" (click)="shareURL('facebook')" class="font500">Facebook</a>
                   </div>
                   <div class="mt-2">
                        <i class="fa fa-twitter share-icons mr-2"></i> <a href="javascript:void(0)" (click)="shareURL('twitter')" class="font500">Twitter</a>
                    </div>
                    <!-- <div class="mt-2">
                        <i class="far fa-envelope share-icons mr-2"></i> <a href="javascript:void(0)" class="font500">Email</a>
                    </div> -->
                    <div class="mt-2" >
                        <div *ngIf="!isCopied"><i class="fas fa-link share-icons mr-2"></i> <a href="javascript:void(0)" (click)="copyURL()"  class="font500">Copy Link</a></div>
                        <div *ngIf="isCopied"><i  class="fas fa-check share-icons mr-2"></i> <a href="javascript:void(0)" class="font500">Link copied</a></div>
                    </div>
                    <!-- <div class="mt-2">
                        <i class="fas fa-download share-icons mr-2"></i> <a href="javascript:void(0)" class="font500">Download PDF</a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>