<div class="col-12 search-footer">

  <hr class="mt-30">
  <ul class="list-inline mb-0 menus text-center mt-25">
    <!-- <li class="list-inline-item"><a href="javascript:void(0)" (click)="onTermsOptionClick()">Terms</a></li>
      <li class="list-inline-item"><a href="javascript:void(0)" (click)="onPrivacyOptionClick()">Privacy</a></li> -->
    <li class="list-inline-item"><a href="javascript:void(0)">Terms</a></li>
    <li class="list-inline-item"><a href="javascript:void(0)">Privacy</a></li>
    <li class="list-inline-item"><a href="javascript:void(0)">FAQ</a></li>
    <li class="list-inline-item"><a href="javascript:void(0)">Contact</a></li>
  </ul>
  <hr class="mb-39 mt-23">
  <div class="text-center pb-1">
    <ul class="list-inline mb-0">
      <li class="list-inline-item"><a href="javascript:void(0)" [routerLink]="['/dashboard']">
          <h6 class="mb-0 d-flex align-items-center top3"><i class="icon-home2 "></i><span class="font-weight-semibold d-none-mob ml8">PropertyFlow™</span></h6>
        </a></li>
      <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/propertyflow" class="text-dark">
        Follow us:<i class="fa fa-facebook-f facebook-icon ml7"></i></a></li>
      <li class="list-inline-item"><a href="javascript:void(0)" class="text-dark" >Share us:<i
            class="fas fa-share-alt share-icon ml7"></i></a></li>
      <li class="list-inline-item">
          Copyright <i class="fa fa-copyright" aria-hidden="true"></i> {{currentYear}}
          SoftFlow Limited
      </li>
    </ul>
  </div>
</div>